{% extends "base.html" %}

{% block content %}
    <h1>Poetry Library Explorer</h1>
    <p class="body about-information"><br>
        Objective: Make a very simple Poetry Library Explorer. <br>
        Its purpose is to be used as a Flask + SQLAlchemy example.<br>
        <br>
        More info here:
        <a href = "https://github.com/japinol7/poetry-lib-explorer">🚀 Repository on GitHub</a>
        <br> <br>
        Program: poetry-lib-explorer<br>
        Version: 0.0.3<br>
        Author: Joan A. Pinol<br>
        Author_nickname: japinol<br>
        Author_gitHub: japinol7<br>
        Author_twitter: @japinol<br>
        Python requires: 3.12 or greater.<br>
        <br>
    </p>
    <br> <br>
    <p style="background-color: #daf3dd"> <br>
        You can find some Poetry by the author of this website here: <br>
        <a href = "https://github.com/japinol7/poetry-lib-explorer/blob/main/app/extras/data_pdf/Poetry%20JAP%20-%20humilde%20colecci%C3%B3n%20de%20poemas%201996-2007.pdf
            ">Small and Humble Collection of Poems 1996-2007 by Joan A. Pinol (mainly in Spanish)</a>
        <br> <br>
    </p>

{% endblock %}
