{% extends "base.html" %}

{% block content %}
    <h1>Poetry Library Explorer</h1>
    <p class="body about-information"><br>
        Objective: Make a very simple Poetry Library Explorer. Its purpose is to be used as a Flask + SQLAlchemy example.<br>
        <br> <br>
        More info here:
        <a href = "https://github.com/japinol7/poetry-lib-explorer">🚀 Repository on GitHub</a>
        <br> <br>
        Program: poetry-lib-explorer<br>
        Version: 0.0.2<br>
        Author: Joan A. Pinol<br>
        Author_nickname: japinol<br>
        Author_gitHub: japinol7<br>
        Author_twitter: @japinol<br>
        Python requires: 3.11 or greater.<br>
    </p>
{% endblock %}
